@page
@model Learning.Pages.TestModel

<div id="question-container">
    <form method="post" asp-page-handler="Choice">
        <input type="hidden" name="path" value="@Model.url" />
        <input type="hidden" name="currentIndex" value="@Model.currentIndex" />
        <input type="hidden" name="currentPoint" value="@Model.currentPoint" />

        <input type="hidden" name="correctText" value="@Model.current_Answer" />

        <div class="list-group">
            @foreach (var item in Model.ShuffledAnswers)
            {
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="radio" asp-for="SelectedAnswer" value="@item.Value">
                    @item.Value
                </label>
            }
        </div>
        <button type="submit" class="btn btn-success mt-3">Câu tiếp theo</button>
    </form>
</div>